    @import "bootstrap-variables";
    @import "spacing";
    @import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
    @import "node_modules/@fortawesome/fontawesome-free/scss/solid";
    @import "node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
    @import "node_modules/bootstrap/scss/bootstrap";
    @mixin btnicon($icon) {
        &:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($icon);
        }
    }
    
    @mixin tabicon($icon) {
        &:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($icon);
            @include media-breakpoint-up(xl) {
                @include mr(2);
            }
        }
    }
    
    @mixin makesquare {
        position: relative;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        .inner {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%
        }
    }
    
    .tooltip {
        font-size: 80%;
        line-height: normal;
    }
    
    #lmcu-calculator {
        ul {
            list-style-type: none;
            @include m(0);
            @include p(0);
        }
        .product-showcase {
            @include make-container(0);
            @include my(5);
            @include py(3);
            .nav {
                @include make-col-ready(0);
                @include media-breakpoint-up(xl) {
                    @include make-col(9);
                }
                @extend .nav-pills;
                @extend .nav-justified;
                @include mx(-2);
                flex-direction: column;
                li {
                    @extend .nav-item;
                    @include mb(2);
                    >div {
                        @extend .nav-link;
                        @include p(0);
                        cursor: pointer;
                        box-shadow: 0 .35rem 1rem rgba(0, 0, 0, .15);
                        @include transition(all 0.6s);
                        &:hover {
                            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25)
                        }
                        &.active {
                            box-shadow: 0 .5rem 0.75rem rgba(0, 0, 0, .35);
                            background-color: $charcoal;
                            .inner {
                                color: $white;
                                h3 {
                                    color: $white;
                                }
                                svg {
                                    path {
                                        fill: $white;
                                    }
                                }
                            }
                        }
                        .inner {
                            display: flex;
                            flex-direction: row;
                            color: $charcoal;
                            @include p(3);
                            h3 {
                                align-self: center;
                                font-size: 1rem;
                                font-weight: 600;
                                @include p(0);
                                @include my(auto);
                                text-align: left;
                            }
                            svg {
                                @include ml(0);
                                @include mr(3);
                                max-width: 30px;
                                path {
                                    fill: $charcoal
                                }
                            }
                        }
                    }
                }
                @include media-breakpoint-up(sm) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    li {
                        max-width: 50%!important;
                        flex: 1 1 50%!important;
                        >div {
                            @include mx(2);
                        }
                    }
                }
                @include media-breakpoint-up(lg) {
                    flex-wrap: nowrap;
                    li {
                        @include mb(0);
                        @include mx(2);
                        >div {
                            @include mx(0);
                            @include makesquare();
                            .inner {
                                svg {
                                    width: 33.33%;
                                    max-width: none;
                                    margin-right: auto;
                                    align-self: flex-end;
                                }
                                h3 {
                                    width: 100%;
                                    @include mt(auto);
                                    @include mb(0);
                                    align-self: flex-end;
                                }
                            }
                        }
                    }
                }
            }
        }
        .calculator {
            @include make-container(0);
            display: flex;
            flex-direction: column;
            .inner {
                @include make-row(0);
                width: 100%;
                @include my(auto);
            }
            a[data-target] {
                cursor: pointer;
            }
            .column-left {
                display: flex;
                flex-direction: column;
                @include make-col-ready(0);
                @include media-breakpoint-up(md) {
                    @include pr(5);
                }
                @include media-breakpoint-up(md) {
                    @include make-col(8);
                }
                @include media-breakpoint-up(xl) {
                    @include make-col(9);
                }
                nav {
                    @extend .d-flex;
                    .calculator-tabs {
                        @extend .nav;
                        @include px(0);
                        width: 100%;
                        @include pb(0);
                        @extend .nav-tabs;
                        li {
                            border-bottom: 1px solid gray("200");
                            &.tab-title {
                                @include ml(0);
                                @include pl(0);
                                @include mr(auto);
                                @extend .nav-link;
                                font-size: 1.2rem;
                                font-weight: 600;
                                color: $charcoal;
                                width: 100%;
                                &:hover {
                                    border: none;
                                    background: transparent;
                                }
                                @include media-breakpoint-up(xs) {
                                    width: auto;
                                }
                            }
                            @include mt(auto);
                            @extend .nav-item;
                            a {
                                @extend .nav-link;
                                @include ml(1);
                                color: gray("600");
                                background-color: gray("100");
                                span {
                                    display: none;
                                }
                                @include media-breakpoint-up(xl) {
                                    span {
                                        display: inline-block;
                                    }
                                }
                                &:hover {
                                    background-color: gray("200");
                                }
                                &.active {
                                    color: $charcoal;
                                    border-bottom: $white solid 1px;
                                    margin-bottom: -1px;
                                    &:hover {
                                        background-color: $white;
                                    }
                                }
                                &.tab-calculator {
                                    @include tabicon($fa-var-calculator);
                                }
                                &.tab-info {
                                    @include tabicon($fa-var-info-circle);
                                }
                                &.tab-legal {
                                    @include tabicon($fa-var-file-contract);
                                }
                                &.tab-remind {
                                    @include tabicon($fa-var-bell);
                                }
                            }
                        }
                    }
                    h3 {
                        @include media-breakpoint-up(sm) {
                            font-size: 1.3rem;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 1.75rem;
                        }
                    }
                }
                .calculator-body {
                    >.tab-pane {
                        @include my(5);
                        &.sliders {
                            p#product-description {
                                @extend .lead;
                                @include mb(5);
                            }
                            #saver {
                                display: none;
                                .form-group {
                                    display: flex;
                                    flex-direction: row;
                                    @include pb(3);
                                    @include mb(3);
                                    input {
                                        font-size: 1.1rem;
                                        @include mx(3);
                                        border: none;
                                        border-bottom: 4px #dee2e6 solid;
                                        box-shadow: none;
                                        font-weight: 600;
                                        color: $charcoal;
                                    }
                                    label {
                                        font-size: 1.1rem;
                                        display: flex
                                    }
                                }
                            }
                            width: 100%;
                            align-self: center;
                            .slider {
                                @include pb(5);
                                @include media-breakpoint-up(sm) {
                                    @include mb(3);
                                }
                                label {
                                    span {
                                        font-weight: 600;
                                        color: $charcoal;
                                    }
                                    font-size: 1.1rem;
                                }
                            }
                        }
                        #info-tabs {
                            nav {
                                @extend .nav;
                                @extend .flex-column;
                                @extend .nav-pills;
                                @include make-col(4);
                                .nav-link.active {
                                    background-color: $charcoal;
                                }
                            }
                            .tab-content {
                                @include pl(4);
                                @include make-col(8);
                            }
                        }
                        &#remind-tab {
                            .controls {
                                @include my(5);
                                .fields-primary {
                                    @include make-row(0);
                                    .field-left {
                                        @include make-col-ready(0);
                                        @include make-col(8);
                                        input {
                                            font-size: 1.1rem;
                                            @include mr(3);
                                            border: none;
                                            border-bottom: 4px #dee2e6 solid;
                                            box-shadow: none;
                                            font-weight: 600;
                                            color: $charcoal;
                                        }
                                    }
                                    .field-right {
                                        @include make-col-ready(0);
                                        @include make-col(4);
                                        display: flex;
                                        .btn {
                                            align-self: flex-end;
                                            @include mt(auto);
                                            @include mb(3);
                                            @include ml(3);
                                            @include button-variant($charcoal, $charcoal, $white);
                                            @include transition(all 1s);
                                            &:before {
                                                content: '';
                                            }
                                            &:hover {
                                                background-color: $charcoal;
                                                color: $white;
                                                &:before {
                                                    @include pr(3);
                                                    @extend %fa-icon;
                                                    @extend .fas;
                                                    content: fa-content($fa-var-envelope);
                                                }
                                            }
                                        }
                                    }
                                }
                                .fields-secondary {
                                    @include make-row(0);
                                    .fields {
                                        @include make-col-ready(0);
                                        @include make-col(12);
                                        #message {
                                            @include media-breakpoint-up(md) {
                                                @include make-col-ready(0);
                                                @include make-col(8);
                                                @include mt(4);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .column-right {
                @include make-col-ready(0);
                @include media-breakpoint-up(md) {
                    @include make-col(4);
                }
                @include media-breakpoint-up(xl) {
                    @include make-col(3);
                }
                .btn-apply {
                    @extend .btn;
                    @extend .btn-block;
                    @include button-variant($lmcu-red, $lmcu-red, $white);
                    @include transition(all 1s);
                    &:hover {
                        background-color: $charcoal;
                        color: $white;
                        &:before {
                            @include pr(3);
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-angle-right);
                        }
                    }
                }
                .representative-example {
                    @include media-breakpoint-down(md) {
                        @include mb(5);
                    }
                    @extend .card;
                    border: none;
                    @extend .shadow;
                    .example-body {
                        @extend .card-body;
                        h5 {
                            @include mt(4);
                            @include mb(1);
                            @include py(0);
                            @extend .card-title;
                        }
                        .summary,
                        .comparison {
                            @extend .list-group;
                            @extend .list-group-flush;
                            @include mt(3);
                            li {
                                @extend .list-group-item;
                                @include py(1);
                                @include px(0);
                                border-color: #ddd;
                                span {
                                    display: block;
                                    float: right;
                                    color: $charcoal;
                                    font-weight: 400;
                                    &#payment {
                                        font-size: 1.1rem;
                                        font-weight: 600;
                                    }
                                }
                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                        .interest-detail {
                            @extend .text-muted;
                            @include mb(0);
                        }
                    }
                }
            }
        }
        .consolidation.calculator {
            .inner {
                flex-direction: column;
                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }
                .intro {
                    @include mb(4);
                }
                .intro,
                .column-left {
                    @include make-col-ready(0);
                    @include make-col(12);
                    order: 1;
                    @include media-breakpoint-up(md) {
                        @include make-col(7);
                        order: 1;
                        padding: 0 15px;
                    }
                }
                .column-right {
                    @include make-col-ready(0);
                    @include make-col(12);
                    order: 2;
                    @include mb(4);
                    @include media-breakpoint-up(md) {
                        @include make-col(5);
                        order: 3;
                        padding: 0 15px;
                    }
                    .representative-example {
                        margin-left: -1.25rem;
                        margin-right: -1.25rem;
                        @include media-breakpoint-up(md) {
                   margin-left: inherit;
                            margin-right: inherit;
                    }
                    }
                }
                .btn-apply {
                    width: auto;
                    @include mt(4);
                    @include ml(auto);
                }
            }
            #consolidation {}
            h6 {
                font-weight: 800;
                @include mb(1);
            }
            .header-row {
                font-weight: 600;
                @include mb(3);
                white-space: nowrap;
            }
            .repeat-row {
                &:not(:first-child) {
                    display: none
                }
            }
            .repeat-row,
            .header-row {
                @include mb(3);
                @extend .form-row;
                input,
                select {
                    @extend .form-control;
                    padding: 0.375rem;
                    @include media-breakpoint-up(md) {
                        padding: 0.375rem 0.75rem;
                    }
                }
                label {
                    font-size: 90%;
                    @include media-breakpoint-up(md) {
                        font-size: 100%;
                    }
                }
                .type {
                    @include make-col-ready();
                    @include make-col(5);
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .balance {
                    @include make-col-ready();
                    @include make-col(3);
                    @include media-breakpoint-up(md) {
                        @include make-col(3);
                    }
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .repayment {
                    @include make-col-ready();
                    @include make-col(3);
                    @include media-breakpoint-up(md) {
                        @include make-col(3);
                    }
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .controls {
                    @include make-col-ready(0);
                    @include make-col(1);
                    display: flex;
                    width: auto;
                    .btn {
                        width: 1.5rem;
                        height: 1.5rem;
                        padding: 0;
                        line-height: 1.5rem;
                        font-size: 0.75rem;
                        margin: auto 0 auto auto;
                        @include media-breakpoint-up(md) {
                            margin: auto;
                        }
                        cursor: pointer;
                    }
                    .btn-add {
                        @extend .btn-outline-secondary;
                        @include btnicon($fa-var-plus);
                        border-radius: 50%;
                    }
                    .btn-remove {
                        @extend .btn-outline-secondary;
                        @include btnicon($fa-var-minus);
                        border-radius: 50%;
                    }
                }
            }
            .repayment-calc {
                @extend .form-row;
                @include my(5);
                @include pt(4);
                @extend .border-top;
                .repayment-calc-label {
                    @include make-col-ready();
                    @include make-col(12);
                    @include media-breakpoint-up(md) {
                        @include make-col(8);
                    }
                    padding-right: 5px;
                    padding-left: 5px;
                    display: flex;
                    flex-direction: column;
                    p {
                        @extend .small;
                        @extend .text-muted;
                    }
                }
                .repayment-calc-total {
                    @include make-col-ready();
                    @include make-col(5);
                    @include mt(3);
                    @include media-breakpoint-up(md) {
                        @include make-col(3);
                        @include mt(0);
                    }
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
            .mobile-btn-row {
                @include make-col-ready();
                @include make-col(12);
                padding: 0 5px;
                @include mt(4);
                @include media-breakpoint-up(md) {
                    display: none;
                }
                a {
                    @extend .btn;
                    @extend .btn-secondary;
                }
            }
        }
    }
    
    #infoLegal {
        @include make-container();
        ul {
            font-size: 14px;
            list-style-type: inherit;
            margin-left: 1.5rem;
            li {
                margin-bottom: 0.75rem;
            }
        }
        p {
            padding-bottom: 1rem;
        }
    }
    /*! purgecss start ignore */
    
    .modal .modal-content {
        border: none;
        box-shadow: none
    }
    
    .modal-backdrop {
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #fff
    }
    
    .modal-backdrop.fade {
        opacity: 0
    }
    
    .modal-backdrop.show {
        opacity: 1
    }
    /*! purgecss end ignore */